.note {
    padding: 12px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .top-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .created-at {
            p {
                font-family: 'Roboto';
                font-style: italic;
                font-size: 13px;
                margin-left: 5px;
            }
        }

        .featured {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 3px;
            background-color: var(--light-gray);

            .featured-icon {
                fill: currentColor;
                width: 32px;
                height: 32px;
                transition: opacity 0.1s ease-in-out;
            }

            .featured-icon:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }

        .buttons {
            display: flex;
            gap: 5px;
            margin-left: auto;

            button {
                width: 42px;
                height: 32px;
                border: none;
                transition: transform 0.1s ease-in-out, border-radius 0.1s ease-in-out;


                img {
                    width: 26px;
                    height: 26px;
                }
            }

            button:hover {
                transform: scale(1.15);
                border-radius: 3px;
                cursor: pointer;
            }

            .complete {
                background-color: var(--light-green);

            }

            .edit {
                background-color: var(--light-orange);
            }
        }
    }

    .middle-row {
        background-color: var(--light-gray);
        margin-bottom: 15px;
        border-radius: 6px;

        h1 {
            font-family: 'Roboto';
            font-style: bold;
            font-size: 16px;
            padding: 10px 5px 10px 5px;
        }
    }

    .bottom-row {
        display: flex;
        align-items: center;
        background-color: var(--light-gray);
        border-radius: 6px;
        min-height: 50px;


        p {
            font-family: 'Roboto';
            font-size: 13px;
            padding: 10px 5px 10px 5px;
        }
    }
}