.register-modal {
    position: absolute;
    margin-top: 70px;
    right: 0;
    width: 320px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.253);
    background-color: white;

    .top-row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        img {
            position: absolute;
            width: 36px;
            height: 36px;
            left: 0;
            margin-left: 15px;
            transition: transform 0.1s ease-in-out;
        }

        img:hover {
            transform: scale(1.2);
            cursor: pointer;
        }

        h1 {
            font-family: 'Ubuntu';
            font-weight: 500;
            font-size: 22px;
        }
    }

    .middle-row {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            input {
                padding: 10px 10px 10px 45px;
                width: 280px;
                border: 0;
                border-radius: 7px;
                font-family: 'Roboto';
                font-size: 14px;
                background-color: var(--light-gray);
            }

            #register-username {
                background-image: url('../../assets/user-icon.svg');
                background-repeat: no-repeat;
                background-position: 5px;
                background-size: 32px;
            }

            #register-email {
                background-image: url('../../assets/mail-icon.svg');
                background-repeat: no-repeat;
                background-position: 5px;
                background-size: 32px;
            }

            #register-password {
                background-image: url('../../assets/login-password-icon.svg');
                background-repeat: no-repeat;
                background-position: 5px;
                background-size: 32px;
            }

            #register-password-confirm {
                background-image: url('../../assets/register-password-icon.svg');
                background-repeat: no-repeat;
                background-position: 5px;
                background-size: 32px;
            }

            p {
                position: absolute;
                left: 0;
                margin-left: 23px;
                font-family: 'Ubuntu';
                font-weight: 600;
                font-size: 12px;
                color: var(--blue-link);
                transition: opacity 0.1s ease-in-out;
            }

            p:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

        .bottom-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            button {
                padding: 8px 40px 8px 40px;
                border: none;
                border-radius: 5px;
                background-color: var(--main-color);
                color: white;
                font-family: 'Tilt Warp';
                font-weight: 400;
                margin-bottom: 15px;
                transition: opacity 0.1s ease-in-out, border-radius 0.1s ease-in-out;
            }

            button:hover {
                opacity: 0.8;
                border-radius: 20px;
                cursor: pointer;
            }

            h3,
            a {
                font-family: 'Ubuntu';
                font-size: 13px;
                text-decoration: none;
                transition: opacity 0.1s ease-in-out;
            }

            a:hover {
                opacity: 0.6;
                cursor: pointer;
            }

            a {
                color: var(--blue-link);
                font-weight: 600;
                margin-top: 5px;
            }
        }
    }
}